<%= form_for(@company) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cnpj %><br>
    <%= f.text_field :cnpj %>
  </div>
  <div class="field">
    <%= f.label :activity %><br>
    <%= f.text_field :activity %>
  </div>

  <%= f.fields_for :contacts do |contact| %>
    <div class="form-inline">
      <%= contact.label :name, "Nome: " %>
      <%= contact.text_field :name %>
      <%= contact.label :phone, "Telefone: " %>
      <%= contact.text_field :phone %>
      <%= contact.label :email, "E-mail: " %>
      <%= contact.text_field :email %>
      <%= contact.label :qualification, "Qualificação: " %>
      <%= contact.text_field :qualification %>
    </div>
  <% end %>
  <p>
    <%= f.submit 'Adicionar novo contato', :name => "add_item" %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
