<h1>Empresas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cnpj</th>
      <th>Activity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.cnpj %></td>
        <td><%= company.activity %></td>
        <td><%= link_to 'Detalhes', company %>
        <%= link_to 'Editar', edit_company_path(company) %></td>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_company_path,
            :class => 'btn btn-primary' %>
