<h1>Detalhes da Empresa</h1>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @company.cnpj %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @company.activity %>
</p>


<HR SIZE="1">
<p>
  <h2>Contatos:</h2>
  <% if @company.contacts.any? %>
    <% @company.contacts.each do |telefone| %>
      Nome: <%= telefone.name %> Número: <%= telefone.phone %> | E-mail: <%= telefone.email %> | Formação <%= telefone.qualification %> <br>
    <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
