<p>
  <strong>State:</strong>
  <%= @trial.state %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @trial.teacher %>
</p>

<p>
  <strong>Acform:</strong>
  <%= @trial.acform %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @trial.comment %>
</p>

<p>
  <strong>Acctual:</strong>
  <%= @trial.acctual %>
</p>

<%= link_to 'Edit', acforms_fila_path %> |
<%= link_to 'Back', trials_path %>
