<%if (@course)%>
  <%= javascript_include_tag 'highcharts.js' %>
  <%= javascript_include_tag 'enrollments_chart.js' %>
  <%= hidden_field_tag 'course_id', @course.id %>
<%end%>

<%if (@student)%>
  <%= javascript_include_tag 'highcharts.js' %>
  <%= javascript_include_tag 'ira_chart.js' %>
  <%= hidden_field_tag 'student_id', @student.id %>
<%end%>

<%- model_class = Enrollment -%>
<div class="page-header">
  <%if (@course)%>
    <h1><%=link_to(@course.name, course_path(@course))%> > Matriculas</h1>
  <%elsif (@student)%>
    <h1><%=link_to(@student.name, student_path(@student))%> > Matriculas</h1>
  <%else%>
    <h1>Matrículas</h1>
  <%end%>


</div>


<div id="container"></div>
  <%if (@course)%>
    


    <p><%=@approved_number%> alunos aprovados.</p>
    <p><%=@disapproved_grade_number%> alunos reprovados por nota.</p>
    <p><%=@disapproved_frequency_number%> alunos reprovados por frequência.</p>
    <p><%=@enrollments.length%> matrículas registradas.</p>
    
  <%else%>
  <%end%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <% if @student.nil?%>
        <th>Estudante</th>
      <%end%>

      <th>Nota</th>
      <th>Frequência</th>
      <th>Ano</th>
      <th>Semestre</th>
      <th>Situação</th>
      <th>Tipo</th>

      <%if(@course.nil?)%>
        <th>Disciplina</th>
      <%end%>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= link_to enrollment.id, enrollment_path(enrollment) %></td>

        <% if @student.nil?%>
          <td><%= link_to(enrollment.student.name, student_path(enrollment.student)) %></td>
        <%end%>

        <td><%= enrollment.grade %></td>
        <td><%= enrollment.frequency %></td>
        <td><%= enrollment.year %></td>
        <td><%= enrollment.semester %></td>
        <td><%= enrollment.status %></td>
        <td><%= enrollment.enrollment_type %></td>
        <%if(@course.nil?)%>
          <td><%= enrollment.course.name %></td>
        <%end%>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_enrollment_path(enrollment), :class => 'btn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_enrollment_path,
            :class => 'btn btn-primary' %>
