<p id="notice"><%= notice %></p>

<p>
  <strong>Decimal:</strong>
  <%= @enrollment.decimal %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @enrollment.decimal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @enrollment.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @enrollment.semester %>
</p>

<p>
  <strong>Status:</strong>
  <%= @enrollment.status %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
