<%= form_for(@internship) do |f| %>
  <% if @internship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@internship.errors.count, "error") %> prohibited this internship from being saved:</h2>

      <ul>
      <% @internship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.date_select :end %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.number_field :hours %>
  </div>
  <div class="field">
    <%= f.label :assistType %><br>
    <%= f.number_field :assistType %>
  </div>
  <div class="field">
    <%= f.label :internType %><br>
    <%= f.number_field :internType %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.text_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.text_field :contact_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
