<%= form_for(@internship) do |f| %>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start, order: [:day,:month, :year] %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.date_select :end, order: [:day,:month, :year]%>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.number_field :hours %>
  </div>

  <div class="field">
    <%= f.label :internType, "Tipo de estágio" %><br />
    <%= f.select :internType, [["Obrigatório", 0], ["Não Obrigatório", 1]] %>
  </div>

  <div class="field">
    <%= f.label :assistType, "Tipo de supervisão" %><br />
    <%= f.select :assistType, [["Direta", 0], ["Semi-direta", 1], ["Indireta", 2]] %>
  </div>

  <div class="field">
    <%= f.label :contact_id %><br>
    <%= collection_select(:name, :contact_id, @contacts, :id, :name, { :prompt => "Selecione uma contato" } ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
