<h1>Listando Estágios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Hours</th>
      <th>Assisttype</th>
      <th>Interntype</th>
      <th>Student</th>
      <th>Teacher</th>
      <th>Contact</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @internships.each do |internship| %>
      <tr>
        <td><%= internship.start %></td>
        <td><%= internship.end %></td>
        <td><%= internship.hours %></td>
        <td><%= internship.assistType %></td>
        <td><%= internship.internType %></td>
        <td><%= internship.student %></td>
        <td><%= internship.teacher %></td>
        <td><%= internship.contact %></td>
        <td><%= link_to 'Show', internship %>
        <%= link_to 'Edit', edit_internship_path(internship) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internship', new_internship_path %>
