<h1>Listando Estágios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Estudante</th>
      <th>Inicio</th>
      <th>Fim</th>
      <th>Hours/semana</th>
      <th>Tipo de supervisão</th>
      <th>Tipo de estágio</th>
      <th>Supervisor</th>
      <th>Empresa</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @internships.each do |internship| %>
      <tr>
        <td><%= internship.student %></td>
        <td><%= internship.start %></td>
        <td><%= internship.end %></td>
        <td><%= internship.hours %></td>
        <td><%= internship.assistType_txt %></td>
        <td><%= internship.internType_txt %></td>
        <td><%= internship.teacher %></td>
        <td><%= internship.contact.company %></td>
        <td><%= link_to 'Show', internship %>
        <%= link_to 'Edit', edit_internship_path(internship) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internship', new_internship_path %>
