<p id="notice"><%= notice %></p>

<p>
  <strong>Descr:</strong>
  <%= @document.descr %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @document.activity %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
