<%- model_class = Student -%>
<div class="page-header">
<%if(@major)%>
  <h1><%=link_to(@major.name, major_path(@major))%> > Estudantes</h1>
<%else%>
  <h1>Estudantes</h1>
<%end%>

</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Nome</th>
      <th>GRR</th>
      <th>Curso</th>
      <th>Grade</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.id, student_path(student) %></td>
        <td><%= student.name %></td>
        <td><%= student.grr %></td>
        <td><%= student.major.name %></td>
        <td><%= student.program.name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_student_path(student), :class => 'btn' %>
          <%= link_to("Matrículas", student_enrollments_path(student), class: "btn") %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_student_path,
            :class => 'btn btn-primary' %>
