<p>
  <strong>Descrição:</strong>
  <%= @category.descr %>
</p>

<p>
  <strong>Horas por semestre:</strong>
  <%= @category.softlimit %>
</p>

<p>
  <strong>Maximo de horas:</strong>
  <%= @category.hardlimit %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
