<%- model_class = Major -%>
<div class="page-header">
  <h1>Cursos</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @majors.each do |major| %>
      <tr>
        <td><%= link_to major.id, major_path(major) %></td>
        <td><%= major.name %></td>
        <td><%= major.code %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_major_path(major), :class => 'btn' %>
          <%= link_to t('.upload'),
                      major_upload_content_path(major), :class => 'btn' %>
          <%= major.programs.length > 0 ? link_to("Grades", major_programs_path(major), class: "btn") : ""%>
          <%= link_to("Estudantes", major_students_path(major), class: "btn")%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_major_path,
            :class => 'btn btn-primary' %>
