<p>
  <strong>Estado:</strong>
  <%= @acform.state %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @acform.student %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Data de Inicio</th>
      <th>Data do fim</th>
      <th>Horas</th>
      <th>Horas Válidas</th>
      <th>Categoria</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.order('category_id').each do |activity| %>
      <tr>
        <td><%= activity.start %></td>
        <td><%= activity.end %></td>
        <td><%= activity.hours %></td>
        <td><%= activity.valid_hours %></td>
        <td><%= activity.category %></td>
        <td><%= link_to 'Show', activity %> <% if @acform.open? or @acform.denied? %>
        <%= link_to 'Edit', edit_activity_path(activity) %>
        <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: <%= @acform.total_hours %></td>
        <td></td>
      </tr>

  </tbody>
</table>

<% if @acform.denied? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Professor</th>
      <th>Comentário</th>
    </tr>
  </thead>

  <tbody>
    <% @acform.trials.each do |trial| %>
       <% if (trial.state == 1) and trial.acctual %>
        <tr>
          <td><%= trial.teacher %></td>
          <td><%= trial.comment %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% end %>

<% if @acform.complete? and ( @acform.open? or @acform.denied?) %>
  <%= link_to "Enviar para avaliação", submit_acforms_path(@acform), :method=> "submit" %> |
<% end %>

<% if @acform.open? or @acform.denied? %>
  <%= link_to 'Nova atividade', new_activity_path %> |
<% end %>

<%= link_to 'Back', acforms_path %>
