<p id="notice"><%= notice %></p>

<h1>Listing Acforms</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acforms.each do |acform| %>
      <tr>
        <td><%= acform.state %></td>
        <td><%= acform.student %></td>
        <td><%= link_to 'Show', acform %></td>
        <td><%= link_to 'Edit', edit_acform_path(acform) %></td>
        <td><%= link_to 'Destroy', acform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acform', new_acform_path %>
