<p>
  <strong>Estado:</strong>
  <%= @acform.state %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= @acform.student %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Data de Inicio</th>
      <th>Data do fim</th>
      <th>Horas</th>
      <th>Horas Válidas</th>
      <th>Categoria</th>
      <th>Documentos</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @acform.activities.order('category_id').each do |activity| %>
      <tr>
        <td><%= activity.start %></td>
        <td><%= activity.end %></td>
        <td><%= activity.hours %></td>
        <td><%= activity.valid_hours %></td>
        <td><%= activity.category %></td>
        <td>
          <% if activity.acdocs.any? %>
            <% activity.acdocs.each do |document| %>
              Descr: <%= document.descr %>, <%= link_to "Link", document.document.url, target: "_blank"  %> <br>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to 'Show', activity %> <% if @acform.open? %>
        <%= link_to 'Edit', edit_activity_path(activity) %>
        <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
      </tr>
    <% end %>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: <%= @acform.total_hours %></td>
        <td></td>
      </tr>

  </tbody>
</table>

<% if teacher_signed_in? %>
  <% if @acform.trials.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Professor</th>
          <th>Parecer</th>
          <th>Comentário</th>
          <th>Atual?</th>
        </tr>
      </thead>

      <tbody>
        <%@acform.trials.order('acctual').each do |trial| %>
          <tr>
            <td><%= trial.teacher %></td>
            <td><%= trial.state_txt %></td>
            <td><%= h(trial.comment).gsub(/\n/, '<br/>').html_safe %></td>
            <td><%= trial.acctual ? "Sim" : "Não" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>


<% if @acform.approved? %>
  <%= link_to "Marcar como processado", processed_acforms_path(@acform), :method=> "submit" %> |
<% end %>

<% if teacher_signed_in? && @acform.aasm_state == "queue" %>
  <%= link_to 'Avaliar', avaliacao_trials_path(@acform.id) %> |
<% end %>
<%= link_to 'Back', acforms_fila_path %>
