<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @evaluation.state %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @evaluation.teacher %>
</p>

<p>
  <strong>Acform:</strong>
  <%= @evaluation.acform %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
