<%= form_for(@teacher) do |f| %>
  <div class="field">
    <%= f.label :access, "Nivel de acesso" %><br />
    <%= f.select :access, [["Professor", 0], ["Comissão de avaliação de atividades formativas", 1], ["Coordenação", 2]] %>
  </div>
  <div class="field">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :login, "Mátricula" %><br>
    <%= f.text_field :login %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
