<h1>Listando professores</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Login</th>
      <th>Access</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.login %></td>
        <td><%= teacher.access_txt %></td>
        <td><%= teacher.email %></td>
        <td><%= link_to 'Show', teacher %>
        <%= link_to 'Edit', edit_teacher_path(teacher) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Professor', new_teacher_path %>
