<h1>Detalhes do professor</h1>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Login:</strong>
  <%= @teacher.login %>
</p>

<p>
  <strong>Access:</strong>
  <%= @teacher.access_txt %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
