<%- model_class = Program -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Nome</th>
      <th>Código</th>
      <th>Ano</th>
      <th>Curso</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= link_to program.id, program_path(program) %></td>
        <td><%= program.name %></td>
        <td><%= program.code %></td>
        <td><%= program.year %></td>
        <td><%= program.major.name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_program_path(program), :class => 'btn' %>
          <%= link_to("Estudantes", program_students_path(program), class:"btn")%>
          <%= link_to("Ver Disciplinas", program_path(program), class:"btn")%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_program_path,
            :class => 'btn btn-primary' %>
