<%= javascript_include_tag 'programs_show' %>

<%= hidden_field_tag 'program_id', @program.id %>

<textarea id="result" rows="20" cols="100"></textarea>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @program.code %>
</p>

<p>
  <strong>Year:</strong>
  <%= @program.year %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
