<%= form_for(@activity) do |f| %>
  <div class="field">
    <%= f.label :category_id, "Categoria" %><br>
    <%= collection_select(:activity, :category_id, Category.all, :id, :descr, {:prompt => "Selecione uma categoria" }) %>
  </div>
  <div class="field">
    <%= f.label :start, "Data de início" %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end, "Data do fim" %><br>
    <%= f.date_select :end %>
  </div>
  <div class="field">
    <%= f.label :hours, "Horas requisitads" %><br>
    <%= f.number_field :hours %>
  </div>

  <%= f.fields_for :acdocs do |document| %>
    <div class="form-inline">
      <%= document.label :descr, "Descrição: " %>
      <%= document.text_field :descr %>
      <% if document.object.document.exists? %>
        <%= link_to "link", document.object.document.url, target: "_blank"  %>
        <%= document.check_box :_destroy %>
        <%= document.label :_destroy, 'Remover' %>
      <% else %>
        <%= document.label :document, "Upload:" %>
        <%= document.file_field :document, class: 'form-control'%>
      <% end %>
    </div>
  <% end %>

  <p>
    <%= f.submit 'Adicionar novo documento', :name => "add_item", class: 'btn btn-primary'  %>
  </p>

  <div>
    <%= f.submit "Enviar", class: 'btn btn-primary' %>
  </div>
<% end %>
