<h1>Listando Atividades</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Data de Inicio</th>
      <th>Data do fim</th>
      <th>Horas</th>
      <th>Horas aprovadas</th>
      <th>Categoria</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.start %></td>
        <td><%= activity.end %></td>
        <td><%= activity.hours %></td>
        <td><%= activity.hoursvalid %></td>
        <td><%= activity.category %></td>
        <td><%= link_to 'Show', activity %>
        <%= link_to 'Edit', edit_activity_path(activity) %>
        <%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
